
.global {
    background-color: antiquewhite;
    padding-bottom: 20px;

}

.show {
    width: 800px;
    background-color: #FFFFFF;
    border: 1px solid #edf0f3;
    padding-top: 20px;
    padding-left: 30px;
    box-shadow: 10px 10px 5px #888888;
    margin: 1px auto 20px;
}

.layer {
    background-color: #23262E;
    height: 90px;
    text-align: center;
    color: #FFFFFF;
    font-size: 30px;
    line-height: 80px;
}

.t1 {
    text-align: center;
    color: #FFFFFF;
    font-size: 30px;
    vertical-align: middle
}

.arrDown {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #cccccc;
    position: relative;
    display: inline-block;
}

.arrRight {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 5px solid #cccccc;
    border-bottom: 5px solid transparent;
    position: relative;
    display: inline-block;
}

ul {
    list-style: none;
}

li {
    line-height: 30px;
}

